<!DOCTYPE html>
<html lang="es">
<head>
    <link href="{{ url_for('static', filename='estiloIndex.css') }}" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Calculadora de figuras</title>
</head>
<body>
    <h1 class="titulos">Calculadora de area y perimetro</h1>

    <h3 class="titulos">Selecccione la figura y escriba los datos solicitados </h3>

    <form method="POST", action="/calcular"> 

        <div class = "figura-container">
            <input type="radio" id="cuadrado" calss="figura-selector" name="forma" value="cuadrado">
            <label for="cuadrado" class="cuadrado-label"></label>
        </div>

        <p class="datos">Lado: <input id="lado" name="lado"></p>

        <div class = "figura-container">
            <input type="radio" id="circulo" calss="figura-selector" name="forma" value="circulo">
            <label for="circulo" class="circulo-label"></label>
        </div>

        

        <p class="datos">Radio: <input id="radio" name="radio"></p>

        <div class = "figura-container">
            <input type="radio" id="triangulo" calss="figura-selector" name="forma" value="triangulo">
            <label for="triangulo" class="triangulo-label"></label>
        </div>

        <p class="datos">Base: <input id="base" name="base", ></p>
        <p class="datos">Altura: <input id="altura" name="altura"></p>
        <p class="datos">Lado 1: <input id="lado1" name="lado1"></p>
        <p class="datos">Lado 2: <input id="lado2" name="lado2"></p>
        <p class="datos">Lado 3: <input id="lado3" name="lado3"></p>


        

        <button type="submit" class="boton">Enviar</button>

    </form>
</body>
</html>